@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
font-family: "Roboto Mono";
font-weight: 400;
}

body {
margin: 0px;
padding: 0px;
background-color: black;
display: flex;
flex-direction: column;
overflow:hidden;
min-width: 100vw;
min-height: 100vh;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
}

.body-section {
margin: 0px;
padding: 0px;
background-color: black;
min-width: 100vw;
min-height: 100vh;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
display: flex;
flex-direction: row;
overflow: hidden;
}

.hero-section {
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
margin: 0;
height: 100vh;
background-image: url("jungle-4191340_1280.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
flex-wrap: nowrap;
object-fit: contain;
}

.hero-section-filter {
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: space-between;
flex: 1;
margin: 0;
height: 100vh;
width: 100%;
flex-wrap: nowrap;
object-fit: contain;
background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
backdrop-filter: brightness(100%);
}

header {
display: flex;
flex-direction: row;
padding: 0px 0px;
background-color: #785F29;
}

.header-link-container {
background-color: #785f29;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
position: sticky;
min-width: 130px;
width: 20vw;
max-width: 160px;
padding: 20px 0px;
}

.new-header-link-container {
background-color: #2D200F;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
position: sticky;
min-width: 130px;
width: 20vw;
max-width: 160px;
border-right: 2px solid black;
border-bottom: 2px solid black;
padding: 6px 0px;
}




.header-link {
color: white;
cursor: pointer;
}

.review-container {
padding:0px 30px;
background-color: rgba(0,0,0,0);
border: 0px solid rgba(255,255,255,0);
border-radius: 0px;
margin: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
flex:0.5;
}

.review-img-container {
display: flex;
align-items: center;
justify-content: flex-start;
flex-wrap: wrap;
}

.review-img {
min-width: 3vw;
max-width: 40px;
aspect-ratio: 1/1;
object-fit:cover;
border-radius: 100px;
border: 1px solid white;
}

.review-img:not(:first-child) {
margin-left: -20px;
}

.rating-text {
margin-left: 10px;
color: white;
white-space: nowrap;
}


.hero-heading {
color: white;
font-size: clamp(0.8rem,7vw,2rem);

}

.qoute1 {
font-size: clamp(0.8rem,2vw,1.1rem);
color: white;
white-space: nowrap;
}

.featured-articles-container {
background-color: transparent;
}

nav {
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0,0,0,0);
backdrop-filter: blur(7px);
gap: 0px;
flex-wrap: nowrap;
justify-content: stretch;
border-top: 0px solid black;
border-right: 2px solid black;
padding-top: 0px;
object-fit: contain;
position: sticky;
top: 0px;
bottom: 0px;
flex: 0 1 1;
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
}


.menu-text {
color: white;
font-size: 2rem;
}

.menu-text:hover {
text-decoration: underline;
cursor:pointer;
}

.avatar-container {
display: flex;
flex-wrap: nowrap;
}

.heading {
font-family: "Barlow Condensed", sans-serif;
font-weight: 300;
margin: 0px 0px 0px 20px;
color: #FCE6A4;
font-size: clamp(3rem,7vw,6rem);
text-shadow: -2px 2px 10px rgba(0,0,0,0.7);
white-space: nowrap;
padding: 0px 2vw;
}

.heading-container {
background-color: transparent;
width: 100%;
flex: 0.6;
}

.nav-button {
display: flex;
align-items: center;
justify-content: center;
min-width: 130px;
width: 20vw;
max-width: 160px;
border:none;
border-bottom: 2px solid black;
padding: 8px 10px;
background-color: rgba(90,64,30,0.5);
backdrop-filter: brightness(500%);
cursor: pointer;
text-align: left;
}

.nav-button:hover {
background-color: rgba(108, 77, 36, 0.5);
}

.nav-choice {
background-color: rgba(52,42,30,0.5);
}

.nav-choice:hover {
background-color: rgba(63, 50, 36, 0.5);
}

.nav-text {
text-decoration: none;
color: #fde4b4;
white-space:nowrap;
font-size: 1rem;
}

.nav-link-text {
text-decoration: none;
color: #dfb58b;
white-space:nowrap;
font-size: 1rem;
}

.main-section {
display: flex;
flex-direction: column;
flex:1;
overflow-y: scroll;
overflow-x: hidden;
background-color: black;
}

.spacer-div {
background-color: black;
min-width: 100%;
flex: 1;
}

.action-container {
background: linear-gradient( rgba(15, 14, 20, 0));
flex: 1;
width: 100%;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
backdrop-filter: blur(0px);
padding: 0px 2vw;
border-top: 0px solid black;
flex-wrap: nowrap;
}

.header-div {
background: linear-gradient(#785F29 ,rgba(0,0,0,0));
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
flex: 1;
padding: 0px;
flex-wrap: wrap;
}

.logo-img {
aspect-ratio: 1/1;
min-width: 100px;
width: 20vw;
}

.none {
display: none;
}

.hero-image-container {
display: flex;
align-items: flex-end;
justify-content: flex-end;
margin: 0px;
padding: 0px;
}

.hero-man-image {
height: 70vh;
width: 30vw;
object-fit:contain;
margin: 0px 1vw 0px 0px;
padding: 0px;
}
