@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
font-family: "Roboto Mono";
font-weight: 400;
}

body {
margin: 0px;
height: 100vh;
overflow:hidden;
background-color: rgba(255,255,255,1);
}

.body-section {
display: flex;
height: calc(100vh);
background-color: rgba(255,255,255,1);
}

.hero-section {
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
margin: 0px;
background-image: url("../Images/nice.gif");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
flex-wrap: nowrap;
object-fit: contain;
}

.hero-section-filter {
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: flex-start;
margin: 0px 0px 0px 0px;
width: 100%;
flex-wrap: nowrap;
object-fit: contain;
background: linear-gradient(rgba(0,0,0,1),rgba(25,20,250,0.5) 60%, white 100%);
gap: 0vh;
backdrop-filter: blur(6px) contrast(100%) saturate(0%) brightness(100%);
}

header {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
background-color: rgba(0,200,0,0);
min-width: 0;
width: 100%;
padding: 0px 0px 0px 0px;
}

.newHeader {
background-color: rgba(0,0,0,0);
}

.signup-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
background-color: rgba(200,0,0,0);
margin: 0px;
flex: 0.5;
padding: 2vw 4vw 0px 4vw;
}

.header-link-container {
background-color: rgba(100,0,0,0);
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 4px;
flex:0.5;
padding: 2vw 4vw 0px 4vw;
}

.new-header-link-container {
background-color: rgba(0,0,0,0);
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 4px;
}

.header-link {
color: beige;
cursor: pointer;
text-shadow: -2px 2px 10px rgba(0,0,0,0.5);
text-decoration: none;
}

.header-link:hover {
text-decoration: underline;
}

.review-container {
background-color: rgba(0,0,220,0);
border: 0px solid rgba(255,255,255,0);
border-radius: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex: 1;
gap: 0vh;
object-fit: contain;
width: 100vw;
padding: 5vw 0px;
}

.review-img-container {
display: flex;
align-items: center;
justify-content: flex-start;
flex-wrap: wrap;
padding-left: 4vw;
}

.review-img {
width: 6vw;
min-width: 20px;
max-width: 40px;
aspect-ratio: 1/1;
object-fit:cover;
border-radius: 100px;
border: 1px solid lightgrey;
box-shadow: -2px 2px 10px rgba(0,0,0,0.3);
}

.review-img:not(:first-child) {
margin-left: -10px;
}

.rating-text {
margin-left: 20px;
color: #ffffff;
white-space: nowrap;
text-shadow: -2px 2px 10px rgba(0,0,0,0.5);
font-size: clamp(0.2, 0vw, 0.8rem);
}

.hero-heading {
font-size: clamp(1.7rem,7vw,3rem);
text-shadow: -2px 2px 10px rgba(0,0,0,0.5);
color: black;
}

.qoute1 {
font-size: clamp(0.3rem,2.1vw,2rem);
text-shadow: -2px 2px 10px rgba(0,0,0,0.5);
color: rgba(220,220,220,1);
white-space: wrap;
padding-left: 4vw;
}

.featured-articles-container {
background-color: transparent;
}

nav {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
min-width: 200px;
width: 20vw;
max-width: 200px;
border-right: 1px solid black;
overflow-y: auto;
flex-shrink: 0;
background-color: #ffffff;
overflow: auto;
scrollbar-width: none;
-ms-overflow-style: none;
padding-bottom: 1px;
gap: 0px;
}

nav::-webkit-scrollbar {
display: none;
}

.menu-text {
color: white;
font-size: 2rem;
}

.menu-text:hover {
text-decoration: underline;
cursor:pointer;
}

.avatar-container {
display: flex;
flex-wrap: nowrap;
}

.heading {
font-family: "Barlow Condensed", sans-serif;
font-weight: 300;
margin: 0px 200px 0px 0px;
color: #FCE6A4;
font-size: clamp(2rem,8vw,10rem);
text-shadow: -2px 2px 10px rgba(0,0,0,0.5);
white-space: nowrap;
padding: 0px 4vw 2vw 4vw;
}

.heading-container {
background-color: rgba(255,0,0,0);
width: 100%;
flex: 1;
display: flex;
flex-direction: column;
}

.nav-button {
display: flex;
align-items: flex-start;
justify-content: flex-start;
min-width: 200px;
width: 20vw;
max-width: 200px;
padding: 10px 0px 10px 15px;
background-color: rgba(255,255,255,1);
cursor: pointer;
text-align: left;
margin-top: 0px;
border: 0px solid white;
border-radius: 0px;
margin: 0px;
transition: all 0.5s ease;
}

.nav-margin {
border-radius: 0px;
background-color: rgba(208, 250, 236, 0.5);
padding: 10px 15px;
border: 0px solid white;

}

.nav-margin-one {
border-radius: 0px;
background-color: rgba(208, 250, 236, 0.5);
padding: 10px 15px;
margin-top: 0px;
border: 0px solid white;
}

.nav-button:hover {
background-color: rgba(208, 250, 236, 1);
border-radius: 0px;
}

.nav-choice {
background-color: rgba(255, 255, 255, 1);
}

.nav-choice:hover {
background-color: rgba(225,225,225, 1);
}

.nav-choice:hover a {
font-weight: 500;
}

.lions-den:hover {
background-color: #FFD3D3;
border: 0px solid white;
}

.affiliates {
background-color: #F3F9FF;
border: 0px solid white;
}

.donations {
background-color: rgba(240,240,240,1);
border: 0px solid white;
}

.sponsorships {
background-color: #FFF5F7;
border: 0px solid white;
}

.nav-text {
text-decoration: none;
color: black;
white-space:nowrap;
font-size: 1rem;
font-weight: 500;
text-shadow: -2px 2px 3px rgba(0,0,0,0);
font-family: "Quicksand", sans-serif;
}

.nav-link-text {
text-decoration: none;
color: black;
white-space:nowrap;
font-size: 1rem;
text-shadow: -2px 2px 5px rgba(0,0,0,0);
font-family: "Quicksand";
font-weight: 400;
}

.nav-border-bottom {
border-radius: 0px;
}

.main-section {
flex: 1;
overflow-y: auto;
overflow-x: hidden;
}

.spacer-div {
background-color: white;
min-width: 100%;
flex: 1;
}

.header-div {
background: linear-gradient(rgba(0,0,0,0));
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 0px;
flex-wrap: nowrap;
gap: 0vh;
}

.none {
display: none;
}

.main-container {
background-color: blue;
width: 100%;
height: 100%;
margin: 0px;
flex:0;
}

